%p#notice= notice

%p
  %b Name:
  = @semester.name
%p
  %b Start date:
  = @semester.start_date
%p
  %b End date:
  = @semester.end_date

= link_to 'Edit', edit_semester_path(@semester)
\|
= link_to 'Back', semesters_path
