.page-header
  %h1 Listing invites

%table.table.table-hover
  %tr
    %th User Type
    %th First Name
    %th Last Name
    %th Email
    %th Status

  - @invites.each do |invite|
    %tr
      %td= invite.owner_type
      %td= invite.first_name
      %td= invite.last_name
      %td= invite.email
      %td
        - if invite.invited?
          - if invite.redeemed_at == nil
            Invited
            = link_to '[url]', "/signup?owner_type=#{invite.owner_type}&invite_code=#{invite.invite_code}"
            = link_to '[ReInvite]', send_invitation_path(invite), :data => {:confirm => 'Send invitation? '}, :method => :post
          - else
            Joined at 
            = invite.redeemed_at.in_time_zone('Pacific Time (US & Canada)')
        - else
          = link_to '[Invite]', send_invitation_path(invite), :data => {:confirm => 'Send invitation? '}, :method => :post
%br
%h3= link_to 'New Invite', new_invite_path
%h3= link_to 'Import Excel File', new_invite_excel_path


