.page-header
  %h1 Student Roster
/%h2= "Seach Student By Name:" /

%table.table.table-hover
  %tr
    %th= link_to 'First Name', students_path(:sort => 'first_name')
    %th= link_to 'Last Name', students_path(:sort => 'last_name')
    %th Email
    %th= link_to 'Course (to be implemented next iteration)', students_path(:sort => 'course') 
    %th Mentor Teacher(s)
    %th
    %th
    %th
    %th

  - @all_student.each do |student|
    %tr
      %td= link_to student.first_name, student
      %td= student.last_name
      %td= student.email
      %td= 'course'
      %td
        - student.owner.mentor_teachers.each do |m|
          %ul.unstyled
            %li= "#{m.user.first_name} #{m.user.last_name}"
      %td
        - student.owner.cal_courses.each do |c|
          %ul.unstyled
            %li=link_to "#{c.name} Preferences", student_select_timeslots_path(student.id, c.id)
      %td= link_to 'View Placement(s)', "students/#{student.id}/placements"
      %td= link_to 'Edit', "/user/#{student.id}/adv_edit"
      %td= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }
      
-# %br
-# = link_to 'New Student', new_student_path
%br
= link_to 'Back to Advisor Home Page', advisors_path
