.page-header
  %h1 Students
/%h2= "Seach Student By Name:" /

%table.table.table-hover
  %tr
    %th= link_to 'First Name', students_path(:sort => 'first_name')
    %th= link_to 'Last Name', students_path(:sort => 'last_name')
    %th Email
    %th Mentor Teacher(s)
    %th Preference
    %th Placement
    %th Remove

  - @all_student.each do |student|
    %tr
      %td= link_to student.first_name, edit_user_path(student.id)
      %td= student.last_name
      %td= student.email
      %td
        - student.owner.mentor_teachers.each do |m|
          - if m.user != nil
            %ul.unstyled
              %li= "#{m.user.first_name} #{m.user.last_name}"
      %td
        - student.owner.cal_courses.each do |c|
          %ul.unstyled
            %li=link_to "#{c.name} Preferences", student_select_timeslots_path(student.id, semester.id, c.id)
      %td
        %ul.unstyled
          %li=link_to 'View/Edit Placement(s)', edit_placements_student_path(student.id, semester.id)
      %td= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' }
