.row-fluid
  .page-header
    %h1 Enrollment
  - if not Semester::past_deadline?(params[:semester_id])
    .well
      %h5 Select the course(s) you are currently enrolled in:
      = form_for @student, url: select_courses_student_path, :html => { :class => "form-horizontal" } do |f|
        /hidden field is for the case if nothing is checked.
        = f.hidden_field :check, :value => "check"
        - @cal_courses.each do |c|
          %label.checkbox
            - if @student.cal_courses.exists?(c.id)
              = check_box_tag "student[cal_courses][]", c.id, true
            - else
              = check_box_tag "student[cal_courses][]", c.id
            = c.name
        = f.submit "Save", :class => "btn btn-primary"
  - else
    The deadline for registration has already passed. You can no longer modify your courses.
