#timeslots
= render :partial => "day_selection", :locals => { :day => :monday, :calendar_id => :monday}
= render :partial => "day_selection", :locals => { :day => :tuesday, :calendar_id => :tuesday}
= render :partial => "day_selection", :locals => { :day => :wednesday, :calendar_id => :wednesday}
= render :partial => "day_selection", :locals => { :day => :thursday, :calendar_id => :thursday}
= render :partial => "day_selection", :locals => { :day => :friday, :calendar_id => :friday}
