= render :partial => "calendar_obj_script", :locals => {:height => height, :width => width}

-# Code taken from https://github.com/themouette/jquery-week-calendar/blob/master/full_demo/weekcalendar_full_demo.html 
%div#calendar
  %div{:id => 'event_edit_container', :style => "display: none;"}
    = form_for :timeslot do |f|
      = f.label(:start_time)
      
      = f.time_select(:start_time, {:ampm => true}, :class => "start_time")
      
      = f.label(:end_time)
      = f.time_select(:end_time, {:ampm => true}, :class => "end_time")



  
-#   <form>
-# <input type="hidden" />
-# <ul>
-# <li>
-# <span>Date: </span><span class="date_holder"></span>
-# </li>
-# <li>
-# <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
-# </li>
-# <li>
-# <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
-# </li>
-# <li>
-# <label for="title">Title: </label><input type="text" name="title" />
-# </li>
-# <li>
-# <label for="body">Body: </label><textarea name="body"></textarea>
-# </li>
-# </ul>
-# </form>
-# </div>
