%h1 Listing deadlines

%table
  %tr
    %th Title
    %th Summary
    %th Due date
    %th
    %th
    %th

  - @deadlines.each do |deadline|
    %tr
      %td= deadline.title
      %td= deadline.summary
      %td= deadline.due_date
      %td= link_to 'Show', deadline
      %td= link_to 'Edit', edit_deadline_path(deadline)
      %td= link_to 'Destroy', deadline, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Deadline', new_deadline_path
