.row-fluid
  .span-12
    = render :partial => "sub_nav"
    .page-header
      %h2= day.capitalize
    = form_for @student, url: wizard_path do |f|
      #timeslots
      .row-fluid
        .span-12 
          .pull-right
            = f.submit "Save", :class => "btn btn-primary"
            = f.submit "Save & Continue", :class => "btn btn-primary"
      .row-fluid.spacer
        = render :partial => "day_selection", :locals => { :day => day, :calendar_id => day, :timeslots => @timeslots, :student => @student}
