%h1 Listing schools

%table.table.table-hover
  %tr
    %th Name
    %th Level
    %th District
    %th
    %th
    %th

  - @schools.each do |school|
    %tr
      %td= school.name
      %td= school.level
      %td= school.district.name
      %td= link_to 'Show', school
      %td= link_to 'Edit', edit_school_path(school)
      %td= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New School', new_school_path
