.page-header
  %h1 Listing courses

%table.table.table-hover
  %tr
    %th Name
    %th Grade
    %th
    %th
    %th

  - @courses.each do |course|
    %tr
      %td= course.name
      %td= course.grade
      %td= link_to 'Show', course
      %td= link_to 'Edit', edit_course_path(course)
      %td= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Course', new_course_path
