.navbar
  .navbar-inner
    %ul.nav
      - Semester.where(:status => Semester::PUBLIC).each do |s|
        - if params[:semester_id] == s.id.to_s
          %li.active= link_to "#{s.name} #{s.year}", cal_courses_path(:semester_id => s.id)
        - else
          %li= link_to "#{s.name} #{s.year}", cal_courses_path(:semester_id => s.id)
