%p#notice= notice

.page-header
  %h1 
    = @cal_course.name

.pull-right
  = link_to 'Edit', edit_cal_course_path(@cal_course), :class => 'btn'
  = link_to 'Back', cal_course_path(), :class => 'btn'

%h2 School Information
%table.table
  %tr
    %td
      %b School Type:
    %td
      = @cal_course.school_type
%h2 Timeslots:
%table.table
  %tr
    %th Subject
    %th Teacher
    %th Timeslot
  - @times.each do |time|
    %tr
      %td= link_to time.course.name, time.course if time.course
      %td= link_to time.mentor_teacher.user.name, time.mentor_teacher
      %td= time.to_string
