= form_for @cal_faculty do |f|
  - if @cal_faculty.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cal_faculty.errors.count, "error")} prohibited this advisor from being saved:"
      %ul
        - @cal_faculty.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save', :class => "btn"
