.navbar
  .navbar-inner
    %ul.nav
      %li= link_to "Home", home_mentor_teacher_path(current_user.id)
      - Semester.where(:status => Semester::PUBLIC).each do |s|
        - if params[:semester_id] == s.id.to_s
          %li.active= link_to "#{s.name} #{s.year}", mentor_teacher_schedule_path(:semester_id => s.id)
        - else
          %li= link_to "#{s.name} #{s.year}", mentor_teacher_schedule_path(:semester_id => s.id)
- if not current_page?(home_mentor_teacher_path(current_user.owner_id)) and params[:semester_id]
  .sidebar.left.sidebar-nav
    .well
      %ul.nav.nav-list
        // Mentor Teachers
        %li.nav-header
          Mentor Teachers Menu
        - if current_user
          - if current_user.owner_type == "MentorTeacher"
            %li
              %a{:href => edit_mentor_teacher_schedule_path(:semester_id => params[:semester_id])} Edit Schedule
            %li
              %a{:href => mentor_teacher_my_students_path(:semester_id => params[:semester_id])} My Students

