.navbar
  .navbar-inner
    %ul.nav
      %li= link_to "Home", home_student_path
      - Semester.where(:status => Semester::PUBLIC).each do |s|
        - if params[:semester_id] == s.id.to_s
          %li.active= link_to "#{s.name} #{s.year}", splash_student_path(current_user.owner.id, s.id)
        - else
          %li= link_to "#{s.name} #{s.year}", splash_student_path(current_user.owner.id, s.id)

- if not current_page?(home_student_path) and params[:semester_id]
  .sidebar.left.sidebar-nav
    %ul.nav.nav-list
      %li.nav-header STEP 1: Enrollment
      %li
        %a{:href => select_courses_student_path(current_user.owner.id, params[:semester_id])} Select Courses
      %li.nav-header STEP 2: Timeslot Preferences
      - current_user.owner.cal_courses.order("name ASC").each do |c|
        %li
          %a{:href => student_select_timeslots_path(current_user.owner.id, params[:semester_id], c.id)}= c.name
      %li.nav-header STEP 3: Field Placements
      %li
        %a{:href => placements_student_path(current_user.owner.id, params[:semester_id])} View Field Placements

      %li.divider
      %li
        %a{:href => courses_student_path(current_user.owner.id, params[:semester_id])} Enrollment
