%h1 Teacher Roster
/%h2= "Seach Student By Name:" /

%table.table.table-hover
  %tr
    %th= link_to 'First Name', mentor_teachers_path(:sort => 'first_name')
    %th= link_to 'Last Name', mentor_teachers_path(:sort => 'last_name')
    %th Email
    %th= link_to 'Course', mentor_teachers_path(:sort => 'course')
    %th
    %th

  - @all_teacher.each do |teacher|
    %tr
      %td= teacher.first_name
      %td= teacher.last_name
      %td= teacher.email 
      %td= 'course'
      %td= link_to 'Edit', "/user/#{teacher.id}/adv_edit"
      %td= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }
      
%br
= link_to 'New Teacher', new_mentor_teacher_path
%br
= link_to 'Back to Advisor Home Page', advisors_path
