.page-header
  %h1 Mentor Teachers
  /%h2= "Seach Student By Name:" /

%table.table.table-hover
  %tr
    %th= link_to 'First Name', mentor_teachers_path(:sort => 'first_name')
    %th= link_to 'Last Name', mentor_teachers_path(:sort => 'last_name')
    %th Email
    %th= link_to 'Course (to be implemented next iteration)', mentor_teachers_path(:sort => 'course')
    %th Student(s) Mentored
    -# %th
    -# %th

  - @all_teacher.each do |teacher|
    %tr
      %td= link_to teacher.first_name, teacher
      %td= teacher.last_name
      %td= teacher.email 
      %td= 'course to be implemented in next iteration'
      %td
        - teacher.owner.students.each do |s|
          %ul.unstyled
            %li= link_to "#{s.user.first_name} #{s.user.last_name}", s
      -# %td= link_to 'Edit', "/user/#{teacher.id}/adv_edit"
      -# %td= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }
      
-# %br
-# = link_to 'New Teacher', new_mentor_teacher_path
%br
= link_to 'Back to Advisor Home Page', advisors_path
