.page-header
  %h1 Mentor Teachers
  /%h2= "Seach Student By Name:" /

%table.table.table-hover
  %tr
    %th= link_to 'First Name', mentor_teachers_path(:sort => 'first_name')
    %th= link_to 'Last Name', mentor_teachers_path(:sort => 'last_name')
    %th Email
    %th Course
    %th Student(s) Mentored
    /*** DELETE 
    /%th Remove

  - @all_teacher.each do |teacher|
    %tr
      %td= link_to teacher.first_name, teacher.owner
      %td= teacher.last_name
      %td= teacher.email 
      %td 
        - teacher.owner.timeslots.each do |timeslot|
          %ul.unstyled
            %li= timeslot.course.name if timeslot.course
      %td
        - teacher.owner.students.each do |s|
          - if s.user != nil
            %ul.unstyled
              %li= link_to "#{s.user.first_name} #{s.user.last_name}", s
      /*** DELETE 
      /%td= link_to 'Delete', teacher, method: :delete, data: { confirm: 'Are you sure?' }
