%html
  %head
    %title Bsmi
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application" 
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} BSMI
          .nav-collapse.collapse
            %ul.nav
    .container
      %ul.nav.nav-pills
        // Temporary navigation links
        %li
          %a{:href => mentor_teachers_path} Mentor Teachers
        %li
          %a{:href => cal_courses_path} Cal Courses
        %li
          %a{:href => advisors_path} Advisors
        %li
          %a{:href => courses_path} Courses
        %li
          %a{:href => schools_path} Schools
        %li
          %a{:href => districts_path} Districts
        %li
          %a{:href => "/students/1/select_timeslots"} Select Timeslots
        %li
          %a{:href => "/students/1/select_timeslots/summary"} Timeslot Preference Summary
        - if current_user
          - if current_user.owner_type == "MentorTeacher"
            %li
              %a{:href => mentor_teacher_schedule_path} Edit Schedule
          %li
            %a{:href => edit_user_path(current_user.id)} Edit Profile
          %li
            %a{:href => "/logout"} Logout
        - else
          %li
            %a{:href => new_user_path} Register
          %li
            %a{:href => :login} Login
      
      - [:notice, :error, :error_list, :alert].each do |level| 
        - unless flash[level].blank?
          - if level == :notice
            .alert.alert-info 
              = flash[level]
          - elsif level == :error
            .alert.alert-error 
              = flash[level]
          - elsif level == :error_list
            .alert.alert-error
              %ul
                - flash[level].each do |error|
                  %li
                    = error
          - else
            .alert.alert-block 
              = flash[level]
      = yield



